.stable {
    position: relative;
    height: 320px;
  }
  .stable .balloon {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 163px;
    background: url(images/balloon.png) ;
  }
  .stable:hover .balloon {
    bottom: 157px;
    transition-duration: 3s;
  }

  .stable .balloon.default {
    left: 39px;
    background-image: url(images/balloon-blue.png);
  }
  .stable .balloon.linear {
    left: 149px;
    transition-timing-function: linear;
  }
  .stable .balloon.ease-in {
    left: 259px;
    transition-timing-function: ease-in;
  }
  .stable .balloon.ease-out {
    left: 369px;
    transition-timing-function: ease-out;
  }
  .stable .balloon.ease-in-out {
    left: 479px;
    transition-timing-function: ease-in-out;
  }
  .stable .balloon.cubic-bezier {
    left: 589px;
    transition-timing-function: cubic-bezier(0,1,1,0);
  }

  .stable .balloon.bezier1 {
    transition-timing-function: cubic-bezier(0,1,0,1);
  }
  .stable .balloon.bezier2 {
    transition-timing-function: cubic-bezier(0,1,1,0);
  }
  .stable .balloon.bezier3 {
    transition-timing-function: cubic-bezier(1,0,1,0);
  }
  .stable .balloon.bezier4 {
    transition-timing-function: cubic-bezier(0,1.5,0.5,1);
  }
  .stable .balloon.bezier5 {
    transition-timing-function: cubic-bezier(0,2,1,0.5);
  }

  .step-right {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,0,0,0.5);
  }
  .stable:hover .step-right {
    width: 100%;
    transition-duration: 5s;
    transition-timing-function: steps(10, start);
  }

  .step-up {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,255,0.5);
  }
  .stable:hover .step-up {
    height: 100%;
    transition-duration: 5s;
    transition-timing-function: steps(10, end);
  }


  